* {
    box-sizing: border-box;
}
body {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color:grey
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 24px;
}

.menuHeader {
    font-size: 24px;
}

.pilotInformation {
     
}

.pilotTable {
    width: 100%;
    padding: 40px
}

.pilotAddForm {
    background-color: #595959;
    padding: 2%;
    border-radius: 5px;
    margin-top: 20%;
    position: fixed;
}
.addForm {
    display: flex;
    flex-direction: column;
}

.addForm > * {
    padding: 5px;
    margin: 5px
}